.post_details_news_page {
  width: 100%;
  float: left;
  padding: 6px 0 0;
}

a {
  text-decoration: none;
}

.tdb-block-inner {
  display: flex;
  align-items: center;
  float: left;
  font-size: 14px;
}

.tdb-author-photo img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
  border-radius: 50%;
}

.tdb-author-by {
  font-family: Rubik !important;
  font-size: 13px !important;
  line-height: 1 !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  color: #000 !important;
}

.tdb-author-name {
  color: #000;
  font-family: Rubik !important;
  font-size: 13px !important;
  line-height: 1 !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}

.tdb-block-inner {
  display: flex;
  align-items: center;
  float: left;
  font-size: 14px;
}

.entry-date.updated.td-module-date {
  padding: 7px 0 0 10px;
}

.hadding_main_details {
  font-size: 20px;
  padding: 5px 0;
  margin: 0;
}

.tag_recipes {
  width: 100%;
  float: left;
}

.recipes_bx_page {
  padding: 10px 10px;
  float: left;
  width: 100%;
}

.tag_recipes ul {
  margin: 0;
  padding: 0;
}

.tag_recipes ul li {
  float: left;
  display: inline-block;
  padding: 10px 4px 20px 0px;
}

.tag_recipes ul li a {
  background: #f5f5f5;
  border-radius: 40px;
  padding: 4px 11px;
  color: #040404;
  font-size: 12px;
}

.tag_recipes h3 {
  font-size: 16px;
  float: left;
  padding: 10px 11px 0 0;
  font-weight: bold;
  margin: 0;
}

.recipes_details_images {
  width: 100%;
  float: left;
}

.recipes_details_images img {
  width: 100%;
  float: left;
  padding: 0 0 10px;
}

.recipes_detailspage p {
  line-height: 1.8 !important;
  width: 100%;
  padding: 0px 0;
  float: left;
  text-align: justify;
  color: #2d2c2c;
  text-transform: capitalize;
  font-size: 14px !important;
  margin: 0;
}

.recipes_detail_category {
  width: 100%;
  float: left;
  padding: 20px 0 0;
}

.recipes_detail_category ul {
  padding: 0;
  margin: 0;
}

.recipes_detail_category ul li {
  float: left;
  text-align: center;
  padding: 6px 0px;
  background: #f8fcfb;
  margin: 5px 7px 0 0;
  border-radius: 7px;
  border: 2px dotted #e2e2e2;
  width: 100%;
  display: inline-block;
}

.recipes_detail_category ul li span img {
  width: 20px;
  text-align: center;
  margin: auto;
  padding: 0 0 10px;
}

.recipes_detail_category ul li span {
  text-align: center;
  margin: auto;
}

.recipes_detail_category ul li h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
}

.recipes_detail_category ul li p {
  width: 100%;
  padding: 5px 0 5px;
  float: left;
  color: #787878;
  text-transform: capitalize;
  font-size: 13px !important;
  text-align: center;
  line-height: 15px !important;
  height: 42px;
}

.video_recipes_details {
  float: left;
  width: 100%;
}

.video_recipes_details h2 {
  padding: 15px 0 0px;
  margin: 0;
  color: #000 !important;
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 19px;
}

.video_recipes_details video {
  width: 100%;
  float: left;
  padding: 10px 0 0;
}

.video_recipes_details ul {
  padding: 0;
  margin: 0;
}

.video_recipes_details ul li {
  display: inline-block;
  float: left;
  text-align: left;
  padding: 6px 0px 3px 22px;
  margin: 4px 7px 0 0;
  border-radius: 7px;
  position: relative;
  width: 100%;
}

.video_recipes_details ul li::before {
  content: "";
  border: 2px solid #185229;
  border-radius: 30px;
  height: 5px;
  left: 0;
  position: absolute;
  width: 5px;
  top: 13px;
}

.gallery_recipes_details {
  width: 100%;
  float: left;
}

.gallery_recipes_details h2 {
  padding: 30px 0 10px;
  margin: 0;
  color: #000 !important;
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.steps_recipes_details {
  width: 100%;
  float: left;
}

.steps_recipes_details h2 {
  padding: 30px 0 10px;
  margin: 0;
  color: #000 !important;
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.steps_recipes_details ul {
  width: 100%;
  float: left;
  padding: 0 0 0 0;
  margin: 0;
}

.steps_recipes_details ul li {
  width: 100%;
  display: block;
  padding: 15px 0;
  float: left;
  border-bottom: 1px solid #ccc;
}

.steps_recipes_details ul li span {
  color: #175128;
  float: left;
  margin: 0;
  width: 26px;
  font-size: 18px;
  font-weight: bold;
}

.steps_recipes_details p {
  line-height: 1.8 !important;
  padding: 0px 0;
  text-align: justify;
  color: #2d2c2c;
  text-transform: capitalize;
  font-size: 15px !important;
  float: left;
  margin: auto;
  width: 92%;
}

.mynews {
  margin: 0 0 0;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  float: left;
}

.mynews img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-position: center;
}

.cslide {
  display: flex;
  width: 103%;
  overflow: auto;
}

.cslide .cslideinner {
  overflow: hidden;
  justify-content: center;
  min-width: 240px;
  border: 1px solid #eee;
  width: 240px;
  margin: 4px 8px 9px 0;
  border-radius: 0;
  position: relative;
  box-shadow: 0px 0px 7px 2px #e1e1e33b;
}

.cslideinner .mynews_text h2 {
  margin: auto 0 0;
  width: 100%;
  color: #fff;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.cslideinner .mynews_text p {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
  font-weight: normal;
  padding: 2px 6px;
  margin: 0;
  font-size: 10px;
  text-align: center;
}


.event_date {
  background-color: #70cac8;
  float: left;
  width: 100%;
  padding: 0 10px;
}


.event_date h2 {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 16px;
}

.event_date h3 {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #fff;
}

.event_date p {
  padding: 4px 0 14px 0;
  margin: 0;
  font-size: 14px;
  color: #fff;
}
