.contact_page {
  width: 100%;
  padding: 0 10px;
}

.contact_submit {
  color: #fff;
  background-color: #70cac8;
  border-color: #70cac8;
  border-radius: 5px;
  padding: 11px 7px;
  margin-top: 40px;
  width: 100%;
  font-size: 18px;
}

.map {
  width: 100%;
  float: left;
  padding: 50px 10px;
}

.map iframe {
  width: 100%;
  float: left;
}
