<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="title" slot="start" size="small" style="color:#fff;">Add event</ion-title>
    <ion-buttons slot="end">
      <ion-button color="sec" routerLink="/search-result"> <img src="/assets/icon/search.png" style="width: 22px;"></ion-button>
      <ion-button color="sec" routerLink="/chat-list"> <img src="/assets/icon/chat.png" style="width: 24px;">
      </ion-button>
      <ion-button color="sec" routerLink="/notifications"> <img src="/assets/icon/bell.png" style="width: 24px;">
        <ion-badge class="setbegde">10</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="f.form.valid && AddEvent()" #f="ngForm">
    <div class="form">
      <div class="form-group">
        <label>Category</label>
        <ion-select placeholder="Select Category" expand="full" class="form_control_event" interface="popover"
          [(ngModel)]="form.category_id" #category="ngModel" name="category" required>
          <ion-select-option value="7">News</ion-select-option>
          <ion-select-option value="6">Upcoming Events</ion-select-option>
          <ion-select-option value="5">Global Events</ion-select-option>
          <ion-select-option value="4">Corporate Events</ion-select-option>
          <ion-select-option value="3">Social Events</ion-select-option>
          <ion-select-option value="2">Festivals Events</ion-select-option>
          <ion-select-option value="1">Community Events</ion-select-option>
        </ion-select>
        <label class="text-danger" *ngIf="(!f.submitted && !category.untouched && category.invalid) || (f.submitted && category.invalid)">Enter Category</label>
      </div>
      <div class="form-group">
        <label>Name</label>
        <ion-input type="text" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" class="form_control_event" placeholder="Event Name" required></ion-input>
        <label class="text-danger" *ngIf="(!f.submitted && !name.untouched && name.invalid) || (f.submitted && name.invalid)">Enter Name</label>
      </div>
      <div class="form-group">
        <label>Location</label>
        <ion-input type="text" id="location" name="location" [(ngModel)]="form.location" #location="ngModel" class="form_control_event pac-target-input" required placeholder="Event Location" autocomplete="off"></ion-input>
        <label class="text-danger" *ngIf="(!f.submitted && !location.untouched && location.invalid) || (f.submitted && location.invalid)">Enter Location</label>
      </div>
      <div class="form-group">
        <label>Event Start Date</label>
        <ion-input type="date" id="event_start_date" [(ngModel)]="form.event_start_date" #event_start_date="ngModel" name="event_start_date" class="form_control_event" placeholder="Event Start Date" required></ion-input>
        <label class="text-danger" *ngIf="(!f.submitted && !event_start_date.untouched && event_start_date.invalid) || (f.submitted && event_start_date.invalid)">Enter Event Start Date</label>
      </div>
      <div class="form-group">
        <label>Event Start Time (H:M AM/PM)</label>
        <ion-input type="time" id="event_start_time" [(ngModel)]="form.event_start_time" #event_start_time="ngModel" name="event_start_time" class="form_control_event" placeholder="Event Start Time" required></ion-input>
        <label class="text-danger" *ngIf="(!f.submitted && !event_start_time.untouched && event_start_time.invalid) || (f.submitted && event_start_time.invalid)">Enter Event Start Time</label>
      </div>
      <div class="form-group">
        <label>Event End Date</label>
        <ion-input type="date" id="event_end_date" [(ngModel)]="form.event_end_date" #event_end_date="ngModel" name="event_end_date" class="form_control_event" placeholder="Event End Date" required></ion-input>
        <label class="text-danger" *ngIf="(!f.submitted && !event_end_date.untouched && event_end_date.invalid) || (f.submitted && event_end_date.invalid)">Enter Event End Date</label>
      </div>
      <div class="form-group">
        <label>Event End Time (H:M AM/PM)</label>
        <ion-input type="time" id="event_end_time" [(ngModel)]="form.event_end_time" #event_end_time="ngModel" name="event_end_time" class="form_control_event" placeholder="Event End Time" required></ion-input>
        <label class="text-danger" *ngIf="(!f.submitted && !event_end_time.untouched && event_end_time.invalid) || (f.submitted && event_end_time.invalid)">Enter Event End Time</label>
      </div>
      <div class="form-group">
        <label>Image</label>
        <img (click)="chooseImage()" class="image" *ngIf="form.image" src="{{form.image}}">
        <ion-badge *ngIf="form.image" (click)="form.image = null"><ion-icon name="close-circle-outline"></ion-icon></ion-badge>
        <button *ngIf="!form.image" class="choose_image" (click)="chooseImage()">Choose Image</button>
      </div>
      <div class="form-group">
        <label>Details</label>
      </div>
      <div class="form-group">
        <quill-editor [required]="true" [(ngModel)]="form.details" name="details" #details="ngModel"></quill-editor>
        <label class="text-danger" *ngIf="(!f.submitted && !details.untouched && details.invalid) || (f.submitted && details.invalid)">Enter Details</label>
        <div class="save_changes">
          <button type="submit">Save changes</button>
        </div>
      </div>
    </div>
  </form>
</ion-content>