<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title class="title" style="color:#fff;">Restaurants</ion-title>
    <ion-buttons slot="end">
      <ion-button color="sec" routerLink="/search-result"> <img src="/assets/icon/search.png"
          style="width: 22px;"></ion-button>
      <ion-button color="sec" routerLink="/chat-list"> <img src="/assets/icon/chat.png" style="width: 24px;">
      </ion-button>
      <ion-button color="sec" routerLink="/notifications"> <img src="/assets/icon/bell.png" style="width: 24px;">
        <ion-badge class="setbegde">{{notificationCount}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2 class="font-20 bold  " style="text-transform: capitalize;font-size: 20px;padding: 10px 10px;margin: 0;color: #000;line-height: 21px;">
    {{restData?.restudent_details?.name}}</h2>
  <div class="restaurants_imag">
    <img src="https://hello-vegans.com/{{restData?.restudent_details?.image}}">
  </div>
  <div class="d_all">
    <div class="bg-white grey about_rel_info padding-b-0">
      <div class="align-v-center flex flex-between margin-b-15">
        <h2 class="font-20 bold grey">{{restData?.restudent_details?.name}}</h2>
        <div class="flex align-v-center">
          <svg width="16" height="16">
            <use xlink:href="/images/icons.svg?refresh=10Aug21#rating_res"></use>
          </svg>
          <div class="flex align-v-center padding-l-5"> <span class="grey-darker">
              <ion-icon name="star-half-outline"></ion-icon> {{restData?.restudent_details?.rating}}/5
            </span> <span class="text-blue pointer review_tab">Rating</span> </div>
        </div>
      </div>
      <div class="flex align-f-end flex-between">
        <div>
          <div class="flex align-v-center padding-b-5">
            <div class="padding-l-10 grey-another flex"> <span
                class="padding-r-5">{{restData?.restudent_details?.location}}</span> </div>
          </div>
          <div class="flex align-v-center padding-b-5">
            <div class="cost_cuis padding-l-10 grey-another social_share relative"> <span class="block relative "
                data-tooltip="Pan Asian">₹ {{restData?.restudent_details?.price}} for {{restData?.restudent_details?.approx}} approx | {{restData?.restudent_details?.category_name}}</span>
              <!--  -->
            </div>
          </div>
          <div class="flex align-v-center relative padding-b-5">
            <div class="padding-l-10 grey-another flex"> <span class="ellipsis rest_time"> <span
                  class="light-green">Open from</span> <span>{{restData?.restudent_details?.opening_time}} -
                  {{restData?.restudent_details?.closing_time}} </span> <span>
                </span> </span> </div>
          </div>
        </div>
        <div class="flex">
          <div class="pointer wishlist-restaurant relative social_share non_login">
            <!-- <ion-icon name="heart" (click)="handleFavRestaurant(restData?.restudent_details?.liked_status)"></ion-icon> -->
            <svg *ngIf="restData?.restudent_details?.liked_status === '0'" id="res_favourite" width="32" height="32" (click)="handleFavRestaurant(restData?.restudent_details?.liked_status)">
              <g fill="none" fill-rule="evenodd">
                <path fill="white" fill-rule="nonzero" stroke="#cccccc"
                  d="M15 0c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C0 6.716 6.716 0 15 0z"
                  transform="translate(-338.000000, -146.000000) translate(338.000000, 146.000000) translate(1.000000, 1.000000)">
                </path>
                <path fill="#FFF" stroke="#4A90E2"
                  d="M21.96 13.786c0 1.821-1.67 3.347-1.738 3.415l-4.728 4.554c-.091.09-.213.136-.334.136-.121 0-.243-.045-.334-.136l-4.736-4.569c-.06-.053-1.73-1.579-1.73-3.4 0-2.224 1.358-3.552 3.628-3.552 1.328 0 2.572 1.048 3.172 1.64.6-.592 1.844-1.64 3.172-1.64 2.27 0 3.628 1.328 3.628 3.552z"
                  transform="translate(-338.000000, -146.000000) translate(338.000000, 146.000000) translate(1.000000, 1.000000) translate(15.160008, 16.062851) rotate(-360.000000) translate(-15.160008, -16.062851)">
                </path>
              </g>
            </svg>

            <svg *ngIf="restData?.restudent_details?.liked_status === '1'" id="res_favourite" width="32" height="32" (click)="handleFavRestaurant(restData?.restudent_details?.liked_status)">
              <g fill="none" fill-rule="evenodd">
                <path fill="white" fill-rule="nonzero" stroke="#cccccc"
                  d="M15 0c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C0 6.716 6.716 0 15 0z"
                  transform="translate(-338.000000, -146.000000) translate(338.000000, 146.000000) translate(1.000000, 1.000000)">
                </path>
                <path fill="#ff0000" stroke="#ff0000"
                  d="M21.96 13.786c0 1.821-1.67 3.347-1.738 3.415l-4.728 4.554c-.091.09-.213.136-.334.136-.121 0-.243-.045-.334-.136l-4.736-4.569c-.06-.053-1.73-1.579-1.73-3.4 0-2.224 1.358-3.552 3.628-3.552 1.328 0 2.572 1.048 3.172 1.64.6-.592 1.844-1.64 3.172-1.64 2.27 0 3.628 1.328 3.628 3.552z"
                  transform="translate(-338.000000, -146.000000) translate(338.000000, 146.000000) translate(1.000000, 1.000000) translate(15.160008, 16.062851) rotate(-360.000000) translate(-15.160008, -16.062851)">
                </path>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <hr class="hr-grey-light margin-t-20">
    </div>
    <div class="photos">
      <h2>Photos</h2>
      <div class="gallery_main">
        <div class="gallery_main_all">
          <div class="gallery_card" *ngFor="let data of restData?.restudent_details?.gallary.split(',')">
            <div class="card-image"> <a data-fancybox="gallery" data-caption="Caption Images 1"> <img
                  src="https://hello-vegans.com/{{data}}" alt="Image Gallery"> </a> </div>
          </div>
        </div>
      </div>
    </div>
    <button class="post_comment" (click)="menu()" style="float: left;margin: 10px 0px;">Menu</button>
    <div class="direction">
      <h2>Direction</h2>
      <div class="direction_main">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14229.959407887223!2d75.794494!3d26.919681!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e5efda0da3ed53e!2zMjbCsDU1JzEwLjkiTiA3NcKwNDcnNDAuMiJF!5e0!3m2!1sen!2sus!4v1642742612782!5m2!1sen!2sus"
          style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="flex align-v-center flex-between padding-20">
          <div class="grey-another">{{restData?.restudent_details?.address}}</div>
          <button class="get_dir bg-white radius-4">
            <a class="text-blue padding-10 flex align-v-center nowrap"
              [href]="restData?.restudent_details?.latitude ? 'https://www.google.com/maps/dir//'+restData?.restudent_details?.latitude+','+restData?.restudent_details?.longitude : 'https://www.google.com/maps/dir//26.91968080,75.79449440'"
              target="_blank">
              <svg class="margin-r-10" width="16" height="16">
                <use xlink:href="/images/icons.svg?refresh=12Aug21#dir_map"></use>
              </svg>
              Get Directions </a>
          </button>
        </div>
      </div>
    </div>
    <div class="restaurant_fa">
      <div class="padding-b-30 ">
        <h2>Restaurant Features</h2>
        <div class="feature_main">
          <div *ngFor="let data of restData?.restudent_features">
            <div class="flex align-v-center">
              <div class="feature_svg flex ico ico-xs">
                <img src="https://hello-vegans.com/{{data.svgData}}" />
              </div>
              <div class="padding-l-10">{{data.name}}</div>
            </div>
          </div>

          
        </div>
      </div>
    </div>
    <div class="restaurant_fa">
      <div class="padding-b-30 ">
        <h2>Contact for Reservation </h2>
        <p>
          <ion-icon name="call-outline"></ion-icon> +91-{{restData?.restudent_details?.contact_no}}
        </p>
      </div>
    </div>
  </div>
  <div class="blog_comment">
    <div class="detailBox">
      <div class="titleBox">
        <label>Comment </label>
      </div>
      <div class="actionBox">
        <ul class="commentList">
          <li *ngFor="let data of comments?.comment">
            <div class="commenterImage">
              <img
                [src]="data?.users_profile_image ? 'https://hello-vegans.com/'+data?.users_profile_image : 'https://hello-vegans.com/public/frontend/images/f_icon_user.jpg'" />
            </div>
            <div class="commentText">
              <h2>{{data.users_name}}</h2>
              <p class="">{{data?.message}}</p>
              <span class="date sub-text">on {{data.created_at | date:'MMM dd yyyy'}}</span>
            </div>
          </li>
        </ul>
        <form class="form-inline" role="form" (ngSubmit)="f.form.valid && restudentInsertComment()" #f="ngForm">
          <div class="form-group">
            <h2>LEAVE A REPLY </h2>
            <ion-textarea id="message" name="message" [(ngModel)]="form.message" #message="ngModel"
              class="form-control comment_here" placeholder="Enter your comment here..." required></ion-textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="post_comment">Post Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>