<ion-content style=" background: #70cac8;--ion-background: #70cac8;">
  <div class="loginpage">
    <img src="/assets/images/img_001.jpeg">
    <div class="login_bg">
      <div class="left_side">
        <h2>Forgot Password</h2>
      </div>
      <div class="logo_login"> <img src="/assets/images/logo.png"> </div>
      <div class="login_form">
        <ion-list style="padding-bottom: 0px;padding-top: 0; background: none;margin:6px ​0 0;">
          <ion-label> Email or phone number</ion-label>
          <ion-input [(ngModel)]="form.email" name="email" type='text' placeholder="Email"></ion-input>
        </ion-list>
        <div class="btm_login">
          <ion-grid style="padding: 15px 15px 0;">
            <ion-row>
              <ion-col size="6" style="padding: 0;margin: 0;">
              </ion-col>
              <ion-col size="6" style="padding: 0;margin: 0;">
                <div routerLink="/login" class="text_bx">
                  <h2 style="float: right;">Login</h2>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="verify">
          <button color="main" (click)="sendForgotPasswordLink()" fill="outline" [disabled]="!form.email">Forgot Password</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
