<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-back-button slot="start"  style="color:#fff;">
    </ion-back-button>
    <ion-title class="title" slot="start" size="small" style="color:#fff;margin-left: 10px;">
      <div class="user_img">
        <img *ngIf="!gid" [src]="data.profile_image?'https://hello-vegans.com/'+data.profile_image:'https://hello-vegans.com/public/frontend/images/f_icon_user.jpg'" alt="icon">
        <span>{{gid?data.group_name:data.name | titlecase}}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <div class="jd-body" [innerHtml]="chatData">
  </div>
  <div class="jd-footer">
    <!-- <form method="post" > -->
      <input type="text" placeholder="Write A Message" [(ngModel)]="msg">
      <button (click)="messageSend()" [disabled]=!msg>Send</button>
    <!-- </form> -->
  </div>
</ion-content>
