<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:#fff;">
      <ion-back-button slot="start">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="title" style="color:#fff;">Share Your Thoughts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="btm_post">
    <div class="frame__headline"> <img class="headline__image" src="{{environment.liveDomain+profilePhoto}}">
      <div class="frame__column">
        <p class="headline__title"> {{JSON.parse(localStorage.getItem('userData')).name}} </p>
      </div>
    </div>
    <form (ngSubmit)="(form.create_post_content || form.create_post_image) && addPost()" #f="ngForm">
      <div class="post_log">
        <div class="share_post_texttarea">
          <!-- <ion-item> -->
          <!-- <ckeditor [editor]="Editor" [(ngModel)]="form.create_post_content" name="create_post_content" #create_post_content="ngModel"></ckeditor> -->
          <quill-editor [(ngModel)]="form.create_post_content" name="create_post_content" #create_post_content="ngModel"></quill-editor>
        </div>
        <div class="images_post" (click)="captureImage()">
          <img *ngIf="form.create_post_image" src="data:image/png;base64,{{form.create_post_image}}">
          <img *ngIf="!form.create_post_image" src="/assets/icon/upload_images.png">
        </div>
      <label class="text-danger" *ngIf="!form.create_post_content || !form.create_post_image">Enter Post Details or select image</label>
      </div>
      <div class="Post_file ">
        <button type="submit">Post</button>
      </div>
    </form>
  </div>
</ion-content>
