:root {
  --primary_light: rgba(199, 203, 28, 0.41);
  --primary_medium: #C7CB1C;
  --primary_dark: #787e00;

  --secondary_light: #affa9a;
  --secondary_medium: #4bd207;
  --secondary_dark: #318301;
}
